@font-face {
    font-family: "OPTIBelweMedium";
    src: url("../fonts/OPTIBelweMedium.otf");
}

body {
    background-color: white;
}

hr {
    border-color: #6c757d;
}

.card-img-top {
    padding: 4px 4px 0px 4px;
}

.bottom-margin {
    margin-bottom: 20px;
}

#imageCache {
    display: none;
}

.clickable {
    cursor: pointer;
}

#hs-card-result-info {
    text-align: center;
}

.hs-card > img {
    position: absolute;
    top: 0px;
}
